.jumbotron{
    padding: 2rem 1rem;
    text-align: center;
    background: linear-gradient(to left, #250859 0%, #333399 100%);
    color: white;
}

button {
        margin-top: 10px;
}

hr {
    color: black;
}

.col-2{
    margin-left: 15px;
    background-color: #33475A;
    color: white;
    
}
/*Se agrega Snack Bar Toas cortesia de w3School
https://www.w3schools.com/HOWTO/tryit.asp?filename=tryhow_js_snackbar
*/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #fff; /* #333;*/
    color: hsl(206, 17%, 28%);
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  