.jumbotron{
    padding: 2rem 1rem;
    text-align: center;
    background: linear-gradient(to left, #250859 0%, #333399 100%);
    color: white;
}

button {
        margin-top: 10px;
}

hr {
    color: black;
}
#cards{
    
}

.col-2{
    margin-left: 15px;
    background-color: #33475A;
    color: white;
    
}